{% extends "base.html" %}

{% load i18n %}

{% block title %}Sign out{% endblock %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}


<div class="container signup-form">
  <div class="row">
    <div class="col-md-8 offset-md-3">
      <h1>{% trans "Sign Out" %}</h1>
      <h2>Time go to?</h2>

      <p>{% trans 'Are you sure you want to sign out?' %}</p>
      <br>
      <p>We're looking forward to seeing you soon again!</p>
      <br>

      <form method="post" action="{% url 'account_logout' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn">{% trans 'Sign Out' %}</button>
        <button type="button" class="btn cancel-btn"><a href="{% url 'home' %}" role="button">No, I'm not ready yet!</a></button>
      </form>
      <br>
    </div>
  </div>
</div>

{% endblock %}