body {
    background-color: wheat;
}


/* ---------- Navbar ---------- */


.navbar-brand {
    padding-left: 10px;
    font-size: 28px;
}

/* ---------- Ink posts ---------- */

.post-img {
    max-width: 25rem;
    max-height: 30rem;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
