body {
    width: 100vw;
    min-height: 100vh;

    background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("https://res.cloudinary.com/dg4yefryk/image/upload/v1690788745/parchment.jpg");
    background-repeat: no-repeat;
    background-position: center;

    padding: 0;
    margin: 0;

    display: flex;
    flex-direction: column;
}

h1 {
    font-family: 'Inknut Antiqua', serif;
}

h2, h6 {
    font-family: 'Inknut Antiqua', serif;
    text-align: center;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 22px;

}

/* ---------- NAVBAR ---------- */

.navbar-brand {
    font-size: 30px;
    font-family: 'Inknut Antiqua', serif;

    padding-left: 20px;
}

.navbar li {
    font-family: 'Inknut Antiqua', serif;

    margin: 5px;
}


/* ---------- HOME PAGE ---------- */

.wrapper {
    max-width: 70vw;
    padding-bottom: 20px;

}

.quote-card {
    padding: 5px;
}

.quote-body {
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://res.cloudinary.com/dg4yefryk/image/upload/v1690281374/ink_xo84iq.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.intro-text h1 {
    margin-top: 30px;
}

.intro-text a {
    font-family: 'Inknut Antiqua', serif;
    color: black;
}

.intro-text a:hover {
    color: rgb(119, 70, 5);
}

.intro-text {
    margin-bottom: 40px;
    text-align: center;
}


/* ---------- INK POSTS ---------- */

/*Background opacity source:
https://stackoverflow.com/questions/7241341
*/

.ink-cards {
    max-width: 25rem;

    border: 1px solid;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("https://res.cloudinary.com/dg4yefryk/image/upload/v1690281632/ink1_gbmkhx.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

.ink-cards:hover {
    transform: translate(0, -5px);
    transition: ease-in-out 400ms;
}

.card-title {
    font-family: 'Inknut Antiqua', serif;
    padding: 5px;
}

.card-link,
h5,
p {
    color: rgb(3, 3, 3);
    text-decoration: none;

}

.post-img {
    max-width: 25rem;
    max-height: 30rem;

    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* ---------- LOGIN ---------- */


/* ---------- LOGOUT ---------- */

/* ---------- FOOTER ---------- */

.footer {
    height: 4rem;
    width: 100%;
    border: 2px solid black;
}

.footer-link {
    font-size: 2.1rem;
    color: black;
    text-align: center;

    margin: 1rem;
}


/* ---------- VIEW INK ---------- */

.card-wrapper {
    margin: 5rem;
}

.ink-body {
    max-height: 30rem;
}

.like-comment-wrap {
    display: inline;
    padding: 10px;
}

/* ---------- INK AND FEEDBACK FORM STYLING ---------- */

.add-ink-text {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.form-group {
    font-family: 'Roboto', sans-serif;

    display: block;
    margin: 0 auto;
    width: fit-content;
}

.form-group>p {
    text-align: center;
    display: flex;
    justify-content: space-between;
}

label,
select {
    text-align: center;
    padding-right: 10px;
}

.page-link {
    color: #000;
}

#id_excerpt {
    max-height: 10rem;
}

#id_body {
    min-width: 60rem;

}

.comment-body {
    width: 100%;
}


/*Source:
https://stackoverflow.com/questions/5235142/
*/

textarea {
    resize: none;
    min-width: 30rem;
  }


  /* ---------- CATEGORIES ---------- */

.category-text {
    text-align: center;
    margin: 2rem;
}

  /* ---------- BUTTONS ---------- */

.btn {
    font-size: 18px;
    border: none;
    background-color: #b96e46;
}

.btn:hover {
    background-color: rgb(119, 70, 5);
}

.btn-primary{
    color: #fff;
    text-decoration: none;
}

.cancel-btn,
.delete-btn {
    color: #bebcbc;
    text-decoration: none;
}

.btn-like {
    font-size: 20px;
}

.button-wrap {
    margin-top: 2rem;
    text-align: center;
}



/* ---------- MISC ---------- */


/*A required field in the Feedback body was
visible, showing Body* 
I couldn't find where this text came from, so
decided to visibly hide it*/
.requiredField {
    font-size: 0;
}

.alert {
    text-align: center;
}