{% extends "base.html" %}
{% block title %}Create a new Ink{% endblock %}

{% load crispy_forms_tags %}

{% block content %}


<div class="container-fluid">
    <div class="row add-ink-text">
        <h2>Add Ink</h2>
        <p>Here is where you write your new ink!</p>
    </div>
</div>

<form class="form-group create-ink-form" method="POST">   
    {% csrf_token %}
    {{ form.as_p | safe }}
    <button type="submit" class="submit-btn">Submit</button>
    <button type="submit" class="submit-btn"><a href="{% url 'home' %}" role="button" class="cancel-btn">Cancel</a></button>

</form>
{% endblock content %}


