{% extends "base.html" %}
{% block title %}Create a new Ink{% endblock %}

{% load crispy_forms_tags %}

{% block content %}


<div class="container">
    <div class="row add-ink-text">
        <h2>Add Ink</h2>
        <p>Here is where you write your new ink!</p>
        <p>Be it a poem, a haiku, or a short-story, it fits right here.</p>
    </div>

    <form class="form-group" method="POST">
        {% csrf_token %}
        {{ form.as_p | safe }}
        <button class="btn btn-primary" type="submit">Submit</button>
        <button type="button" class="btn auth-btn"><a href="{% url 'home' %}" role="button">Cancel</a></button>
    </form>
</div>
{% endblock content %}