{% extends "base.html" %}

{% block title %}
{{categorylist.cat}} inks
{% endblock %}

{% block content %}

<h1 class="category-text">List of {{categorylist.cat}} inks</h1>

<div class="container-fluid">
  <div class="row d-flex justify-content-around p-3 m-1">
    {% for post in categorylist.posts %}
      <div class="card ink-cards m-3">
          <div class="card-body">
              <a href="{% url 'ink_detail' post.slug %}" class="card-link">
                  <h5 class="card-title">
                      <iconify-icon icon="mdi:ink"></iconify-icon> {{ post.title }}
                  </h5>
                  <p class="card-title mb-2">A {{post.category}} by {{post.author}}</p>
                  <p class="card-subtitle mb-2">Written: {{post.created_on}}</p>
                  <p class="card-text">{{ post.excerpt }}</p>
                  <p>
                      <iconify-icon icon="mdi:ink"></iconify-icon> {{ post.number_of_likes }}
                  </p>
              </a>
          </div>
      </div>
      {% endfor %}
  </div>
  <a href="{% url 'home' %}" role="button" class="btn btn-cancel">Back</a>
</div>

<!-- PAGINATION -->
{% if is_paginated %}
<nav aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
    {% endif %}
    {% if page_obj.has_next %}
    <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% endblock %}