{% extends "base.html" %}
{% block title %}Inspired Ink{% endblock %}

{% block content %}

<!-- QUOTE -->

<div class="container">
    <div class="row justify-content-center quote-card">
        <div class="card col-8 card-wrapper">
            <div class="card-header">
                Quote
            </div>
            <div class="card-body quote-body">
                <blockquote class="blockquote mb-0">
                    <p>“Write what disturbs you, what you fear, what you have not been willing to speak about. Be
                        willing to be split open.”</p>
                        <br>
                    <footer class="blockquote-footer">Natalie Goldberg <cite title="Source Title">Writing Down the
                            Bones: Freeing the Writer Within</cite>
                    </footer>
                </blockquote>
            </div>
        </div>
    </div>
</div>

<!-- INTRODUCTION -->

<div class="wrapper intro-text container-fluid">
    <hr>
    <div class="row">

        <h1>- Welcome to Inspired Ink -</h1>
        <br>
        <p>
            Inspired Ink is a place for creative writing, where you as an author
            can share poems and short stories, sharing them with a like-minded
            people to enjoy.
        </p>

        <p>
            Here, you can get inspired and grow your creative mind by giving and
            receiving feedback on your work, or simply enjoy a myrriad of creative
            works from people far and wide.
        </p>

        <p>
            Everyone from every step on their journey, from beginners to veterans,
            are welcome to share their writing by adding more Ink to the webpage.
        </p>

        <p>
            If this sounds like a place you'd like to call home, then
            <br>
            <a href="{% url 'account_signup' %}"><small>
                    <iconify-icon icon="mdi:ink">
                </small>
                Create an account
                <small>
                    <iconify-icon icon="mdi:ink"></iconify-icon></a></small>
            <br>
            to start memorializing your creative journey!
        </p>
    </div>
    <hr>
</div>

<!-- POSTED INKS-->

<div class="container-fluid">
    <div class="row d-flex justify-content-around p-3 m-1">
        {% for post in post_list %}
        <div class="card ink-cards m-3">
            <div class="card-body">
                <a href="{% url 'ink_detail' post.slug %}" class="card-link">
                    <p class="card-title">
                        <iconify-icon icon="mdi:ink"></iconify-icon> {{ post.title }}
                    </p>
                    <p class="card-title">A {{post.category}} by {{post.author}}</p>
                    <p class="card-text">{{ post.excerpt }}</p>
                    <p>
                        <iconify-icon icon="mdi:ink"></iconify-icon> {{ post.number_of_likes }}
                    </p>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<!-- PAGINATION -->
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

        {% endif %}
    </ul>
</nav>
{% endif %}

{% endblock %}