{% extends "base.html" %}

{% block content %}

<div class="container-fluid intro-text">
    <h1>- Welcome to Inspired Ink -</h1>
    <br>
    <p>
        Inspired Ink is a place for creative writing, where you as an author
        can share poems and short stories, sharing them with a like-minded
        people to enjoy.
    </p>

    <p>
        Here, you can get inspired and grow your creative mind by giving and
        receiving feedback on your work, or simply enjoy a myrriad of creative
        works from people far and wide.
    </p>

    <p>
        Everyone from every step on their journey, from beginners to veterans,
        are welcome to share their writing by adding more Ink to the webpage.
    </p>

    <p>
        If this sounds like a place you'd like to call home, then {% url 'account_signup' %}
        to start memorializing your creative journey!
    </p>
    <hr>
</div>

<div class="container-fluid">
    <div class="row d-flex justify-content-around">
                {% for post in post_list %}
                <div class="col-md-5 p-3 m-3 ink-cards">
                    <a href="{% url 'ink_detail' post.slug %}" class="card-link">
                        <div class="card-body">
                            <h5 class="card-title">
                                <iconify-icon icon="mdi:ink"></iconify-icon> {{ post.title }}
                            </h5>
                            <h5>Written by: {{ post.author }} </h5>
                            <h5>Created: {{ post.created_on }} </h5>
                            <p> {{ post.excerpt }} </p>
                    </a>
                </div>
            </div>
            {% if forloop.counter|divisibleby:6 %}
        </div>
        <div class="row ink-cards-row">
            {% endif %}
            {% endfor %}
        </div>

        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
{% endblock %}