{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit Ink{% endblock %}

{% block content %}

<!--
    Template for the layout of
    when an authenticated user
    wants to edit their Ink
-->

<br>
<h2>Edit your Ink</h2>

<!-- Edit posted Ink for the author who
wrote it, ensuring no one else can edit other's
Inks -->

<div class="container add-ink">
    <div class="row add-ink-text">
        <h2>Add Ink</h2>
        <p>Here is where you write your new ink!</p>
        <p>Be it a poem, a haiku, or a short story, it fits right here.</p>
    </div>
</div>

<div class="container add-ink">
    {% if user.id == post.author.id %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p | safe }}
        <button type="submit" class="btn">Update</button>
        <a href="{% url 'home' %}" role="button" class="btn">Cancel</a>
    </form>
</div>

{% endif %}

{% endblock %}