{% extends "base.html" %}

{% block title %}Delete Ink{% endblock %}

{% block content %}

<h2 class="m-4">Are you sure you want to delete your Ink? <br>
    The decision is final.</h2> <br>

<!-- Delete posted Ink for the author who
wrote it, ensuring no one else can delete other's
Inks -->
{% if user.id == post.author.id %}
<form method="POST">
    {% csrf_token %}
    <div class="button-wrap">
        <div class="update-btn-group">
            <button type="submit" class="btn delete-btn">Yes, my decision is final.</button>
            <a href="{% url 'home' %}" class="btn edit-btn" role="button">No, I have regrets!</a>
        </div>
    </div>
</form>
{% endif %}

{% endblock %}