{% extends 'base.html' %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
    <div class="row">
        <h1>{{ post.title }}</h1>
    </div>
    <div class="row">
        <p>{{ post.author }} | {{ post.created_on}}</p>
    </div>
</div>

<div class="card">
    <div class="row">
        <div class="card-body">
            <p class="card-text">
                {{ post.content | safe }}
            </p>
        </div>

        <div class="col-1">
            {% if user.is_authenticated %}
            <form class="d-inline" action="{% url 'inkpost_like' post.slug %}" method="POST">
                {% csrf_token %}
                {% if liked %}
                <button type="submit" name="inkpost_id" value="{{ post.slug }}" class="btn-like">
                    <strong><iconify-icon icon="teenyicons:heart-solid"></iconify-icon></strong>
                </button>
                {% else %}
                <button type="submit" name="inkpost_id" value="{{ post.slug }}" class="btn-like">
                    <strong><iconify-icon icon="teenyicons:heart-outline"></iconify-icon></strong>
                </button>
                {% endif %}
            </form>
            {% else %}
                <strong><iconify-icon icon="teenyicons:heart-solid"></iconify-icon>
            {% endif %}
            <span>{{ post.number_of_likes }} </span></strong>
        </div>
        <div class="col-1">
            {% with comments.count as total_comments %}
            <strong><iconify-icon icon="material-symbols:comment"></iconify-icon> {{ total_comments }}</strong>
            {% endwith %}
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4 mt3">
            <h3>Comments:</h3>
            <div class="card-cody">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card">
            {% if user.is_authenticated %}
            <h3>Leave a comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ feedback_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-signup btn-lg">Submit</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>

{% if user.id == post.author.id %}
    <div class="update-btn-group">
        <a href="{% url 'update_ink' post.slug %}" class="edit-btn" role="button">Edit</a>
        <a href="{% url 'delete_ink' post.slug %}" class="edit-btn" role="button">Delete</a>
    </div>
{% endif %}

<a role="button" href="{% url 'home' %}">Return</a>

{% endblock content %}