{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Edit Ink{% endblock %}

{% block content %}

<h2>Edit your Ink</h2>

<!-- Edit posted Ink for the author who
wrote it, ensuring no one else can edit other's
Inks -->

<div class="container">
    {% if user.id == post.author.id %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p | safe }}
        <div class="update-btn-group">
            <button type="submit" class="btn auth-btn">Update</button>
            <button type="button" class="btn auth-btn"><a href="{% url 'home' %}" role="button">Cancel</a></button>
        </div>
    </form>
</div>
{% endif %}

{% endblock %}