{% extends "base.html" %}
{% load static %}

{% block title %}Delete Ink{% endblock %}

{% block content %}

<h2>Are you sure you want to delete your Ink? <br>
The decision is final.</h2> <br> 

<!-- Delete posted Ink for the author who
wrote it, ensuring no one else can delete other's
Inks -->
{% if user.id == post.author.id %}
    <form method="POST">
        {% csrf_token %}
        <div class="update-btn-group">
            <button type="submit" class="delete-btn">Delete Ink</button>
            <a href="{% url 'home' %}" role="button" class="cancel-btn">Cancel</a>
        </div>
    </form>
{% endif %}

{% endblock %}
