{% extends 'base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

{% load crispy_forms_tags %}

<div class="card-wrapper offset-md-2">
    <div class="card border-secondary mb-3">
        <div class="card-header">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="card-body text-secondary">
            <h5 class="card-title">{{ post.author }} | {{ post.created_on}}</h5>
                <!--Source add linebreaks:
            https://code-institute-room.slack.com/archives/C8N285L9H/p1521104005000292-->
                <p class="card-text ink-content">{{ post.content | linebreaksbr | safe }}</p>
        </div>
    </div>
    {% if user.id == post.author.id %}
    <div class="update-btn-group">
        <a href="{% url 'update_ink' post.slug %}" class="btn" role="button">Edit</a>
        <a href="{% url 'delete_ink' post.slug %}" class="btn auth-btn" role="button">Delete</a>
    </div>
    {% endif %}
</div>

<!-- LIKES AND COMNMENTS SYMBOLS -->

<div class="like-comment-wrap">
    {% if user.is_authenticated %}
    <form class="d-inline" action="{% url 'inkpost_like' post.slug %}" method="POST">
        {% csrf_token %}
        {% if liked %}
        <button type="submit" name="inkpost_id" value="{{ post.slug }}" class="btn-like">
            <iconify-icon icon="teenyicons:heart-solid"></iconify-icon>
        </button>
        {% else %}
        <button type="submit" name="inkpost_id" value="{{ post.slug }}" class="btn-like">
            <iconify-icon icon="teenyicons:heart-outline"></iconify-icon>
        </button>
        {% endif %}
    </form>
    {% else %}
    <iconify-icon icon="teenyicons:heart-solid"></iconify-icon>
    {% endif %}
    <span>{{ post.number_of_likes }} </span>

    {% with comments.count as total_comments %}
    <iconify-icon icon="material-symbols:comment" class="btn-like"></iconify-icon> {{ total_comments }}
    {% endwith %}
</div>


<div class="container-fluid">
    <div class="row comment-wrap">
        <div class="card col m-4">
            <div class="card-header">
                <h3>Feedback:</h3>
            </div>
            <div class="card-body">
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" text-muted font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                <hr>
                <!---Source:
                https://stackoverflow.com/questions/17435233-->
                {% empty %}
                <p>No one has left any feedback yet!<br>
                    Maybe you want to be the first?</p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="row comment-wrap">
        {% if user.is_authenticated %}
        <div class="card col m-4">
            <div class="card-title">
                <h3>Leave feedback:</h3>
            </div>
            <div class="card-body">
                <p>Comment as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ feedback_form | crispy }}
                    {% csrf_token %}
                    <br>
                    <button type="submit" class="btn btn-signup btn-lg">Submit</button>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}